*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 18px;
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  height: 100%;
}

a{
  font-weight: bold;
}

.container {
  flex: 1;
  max-width: 600px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
  margin-bottom: 33px;
  padding: 20px 13px 0px 13px; 
  position: relative;
  border: 1px solid #ffffff62;
  /* box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1); */
  border-radius: 20px; 
}

label {
  width: 100%;
  font-weight: bold;
  margin: 10px;
  color: #333;
  text-align: start;
}

input[type="number"] {
  width: 200px;
  padding: 8px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

select {
  width: 200px;
  padding: 8px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  width: 130px;
  padding: 10px 20px;
  margin: 10px;
  background-color: #0000FF;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  transition: color 0.3s ease;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #000;
  color: white;
}

#result {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  line-height: 30px;
  margin: 13px 0px 0px 0px;
  padding: 10px 0px;
}

/* Estilos del pie de página */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: #333;
  font-size: 0.8em;
}
.footer-infoDev {
  text-align: center;
  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: #0056b3;
  }
}

.footer-roadmapSh {
  display: flex;
  gap: 30px;
  align-items: center;
  text-align: center;
  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: #0056b3;
  }
}

/* Animación base */
/* .animation-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  background-color: #e0e0e0; 
} */

/* .animation-container.cold {
  background: linear-gradient(to bottom, #00c6ff, #0072ff); /*Azul frío
  animation: snowfall 3s linear infinite;
} */

/* .animation-container.warm {
  background: linear-gradient(to bottom, #fbc2eb, #a18cd1); /* Suave para agradable 
} */

/* .animation-container.hot {
  background: linear-gradient(to bottom, #ff9a9e, #ff6a6a); /* Caliente
  animation: sunbeams 3s linear infinite;
} */

/* Animaciones */
/* @keyframes snowfall {
  0% { background-position: 0 0; }
  100% { background-position: 100px 100px; }
}

@keyframes sunbeams {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */

/* Modal */
#modalIcon {
  font-size: 5rem;
  margin-bottom: 20px;
  animation: fadeIn 1s ease;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Oscurecer el fondo */
  display: none; /* Ocultar por defecto */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  animation: fadeIn 1s ease;
}

/* Fondo dinámico para categorías */
.modal.cold { 
  background: linear-gradient(to bottom, #00c6ff, #0072ff);
  animation: snowfall 5s linear infinite;
}

.modal.warm {
  background: linear-gradient(to bottom, #fbc2eb, #a18cd1);
  animation: snowfall 5s linear infinite;
}

.modal.hot {
  background: linear-gradient(to bottom, #ff9a9e, #ff6a6a);
  animation: snowfall 5s linear infinite;
}

/* Botón de cierre */
#closeModalButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

#closeModalButton:hover {
  background-color: #555;
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes snowfall {
  100% { background-position: 0 0; }
  0% { background-position: 900px 900px; }
}

@keyframes sunbeams {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 15px;
  }
}